Emlakçı Otomasyonu (1).json
{
  "name": "Emlakçı Otomasyonu",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Listen for incoming events').item.json.message.chat.id }}",
        "contextWindowLength": 100
      },
      "id": "fd6f2155-74a5-40b4-ab45-16231f9c5c77",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        800,
        688
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "d46ffdf1-95a4-4585-b6d8-4bb10066150d",
      "name": "Listen for incoming events",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        64,
        256
      ],
      "webhookId": "deade2bd-2cbb-44df-aab9-693d35b29d1a",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "DB3aRXI8ONGP1cco",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Listen for incoming events').first().json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "96843d03-797b-46c3-afe3-e4d8d54a1c9d",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1664,
        272
      ],
      "typeVersion": 1.1,
      "webhookId": "70c1097f-23a2-4950-921b-73aaa622b217",
      "credentials": {
        "telegramApi": {
          "id": "DB3aRXI8ONGP1cco",
          "name": "Emlak_Otomasyon_Bot"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "a0bf9719-4272-46f6-ab3b-eda6f7b44fd8",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.message.text }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "a150a24c-1ffc-4d87-864c-ed6527c68cc3",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        432,
        256
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "42e1f9bc-6849-4a8a-83a7-0dca59aced46",
      "name": "Speech to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        800,
        160
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "Kp8hUO1k8sbNIMil",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "13ab4425-8684-4209-861e-e3aea3a044e1",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        272,
        256
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Listen for incoming events').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "f80b890e-cdbf-4555-826a-867bfc272ac2",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        608,
        160
      ],
      "typeVersion": 1.1,
      "webhookId": "9fdbf46c-a8c6-4fe7-9ebf-d1181c98f6a3",
      "credentials": {
        "telegramApi": {
          "id": "DB3aRXI8ONGP1cco",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Telegram Mesajını İşlemek\n",
        "height": 279,
        "width": 864,
        "color": 5
      },
      "id": "2c55c9a5-048b-4e78-8701-e7f6f728871c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Bugünün tarihi: {{ $now }}.\n\nSen, Hazar'ın kişisel emlak CRM asistanısın.\n\nGörevin:\n\t1.\tGoogle Sheets CRM’ini okumak (Get_CRM) ve güncellemek/yazmak (Edit_CRM).\n\t2.\tGoogle Calendar’da hatırlatıcı oluşturmak (Create_Event), güncellemek, silmek ve listelemek. Event oluştururken amacın öğlen vaktine hatırlatıcı kurmak o yüzden çok fazla detay sormana gerek yok. \n\n\nCRM Yapısı\n\nisim | telefon | eposta | müşteri bütçesi | durum | proje | ne zaman yatırım yapacak\n\n\t•\tBirincil anahtar: isim (tam eşleşme).\n\t•\tİkincil anahtarlar: telefon ve eposta.\n\t•\tForm-entegrasyonu sayesinde çoğu yeni satır önceden dolu olabilir.\n\nTool Kullanım Sırası\n\t1.\tGet_CRM – İsteğe dair satır(lar) var mı?\n\t•\tTam eşleşme yoksa benzer kayıtları listele, Çağrı’dan seçim/ onay iste.\n\t2.\tEdit_CRM – Sadece kesinleşmiş satırda değişiklik yap veya yeni satır ekle.\n\t3.\tGet_Events / Create_Event / Update_Event / Delete_Event – Takvim işlemleri.\n\t•\tVarsayılan: etkinlikten 30 dk önce hem uygulama bildirimi hem e-posta. Başka süre isterse sor.\n\nTarih ve Saat\n\t•\tTarih biçimi: gün.ay.yıl (ör. 08.06.2025).\n\t•\tCümle içinde Türkçe tarih kullan (“8 Haziran 2025”).\n\t•\tSaat, İstanbul, Türkiye saati (UTC+3) kabul edilir; farklı dilim isterse sor.\n\nYanıt Stili\n\t•\tVarsayılan kısa ve net.\n\t•\tÇağrı “detay ver” derse ilgili CRM alanlarının tamamını dök.\n\t•\tBilgi eksikse sor; emin değilsen “Bunu teyit eder misin?” diyerek yazılı onay al.\n\nHata & Belirsizlik Yönetimi\n\t•\tİsim/proje telaffuzunda emin değilsen benzer seçenekleri öner ve onay bekle.\n\t•\tTool yanıtında hata alırsan kısa sebeple beraber yeniden deneme/alternatif sun.\n\t•\tBilmediğin konuyu “Bu bilgi CRM’de yok, ekleyelim mi?” şeklinde dürüstçe bildir.\n\n\nBu kurallara uyarak her isteği ilgili tool çağrılarıyla sonuçlandır ve özet yanıt ver."
        }
      },
      "id": "9aa83863-c47c-4589-bd57-791ea00e802f",
      "name": "AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1216,
        272
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CRM Google Sheet’ine satır ekler veya var olan satırı günceller. Satır kimliğini ya da benzersiz kriter(ler)i kullanarak hedef kaydı seçer; ardından yalnızca gerekli alanları yazar/değiştirir.\n",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1siDtnUT8SWslPkjfjKad_M7GjTDMl0GrNAukiI40uNU",
          "mode": "list",
          "cachedResultName": "Emlak Otomasyon Test Excel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1siDtnUT8SWslPkjfjKad_M7GjTDMl0GrNAukiI40uNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 310333988,
          "mode": "list",
          "cachedResultName": "Sheet-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1siDtnUT8SWslPkjfjKad_M7GjTDMl0GrNAukiI40uNU/edit#gid=310333988"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isim": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('isim', ``, 'string') }}",
            "Telefon": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefon', ``, 'string') }}",
            "Eposta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Eposta', ``, 'string') }}",
            "müşteri bütçesi": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('m__teri_b_t_esi', ``, 'string') }}",
            "ne zaman yatırım yapacak": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ne_zaman_yat_r_m_yapacak', ``, 'string') }}",
            "proje": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('proje', ``, 'string') }}",
            "durum": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('durum', ``, 'string') }}",
            "Ne zaman arayalım": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ne_zaman_arayal_m', ``, 'string') }}"
          },
          "matchingColumns": [
            "isim"
          ],
          "schema": [
            {
              "id": "isim",
              "displayName": "isim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefon",
              "displayName": "Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Eposta",
              "displayName": "Eposta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "müşteri bütçesi",
              "displayName": "müşteri bütçesi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ne zaman yatırım yapacak",
              "displayName": "ne zaman yatırım yapacak",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "durum",
              "displayName": "durum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "proje",
              "displayName": "proje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ne zaman arayalım",
              "displayName": "Ne zaman arayalım",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1664,
        688
      ],
      "id": "c7b4178e-9fbb-4725-bbfb-533e559573c6",
      "name": "Edit_CRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7adYCMgqSAss1gb7",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "CRM Google Sheet’ini okur ve koşula uyan satırları geri döndürür. Yeni bir işlem yapmadan önce daima bu araçla mevcut veriyi doğrula veya potansiyel eşleşmeleri listele.\n",
        "documentId": {
          "__rl": true,
          "value": "1siDtnUT8SWslPkjfjKad_M7GjTDMl0GrNAukiI40uNU",
          "mode": "list",
          "cachedResultName": "Emlak Otomasyon Test Excel",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1siDtnUT8SWslPkjfjKad_M7GjTDMl0GrNAukiI40uNU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 310333988,
          "mode": "list",
          "cachedResultName": "Sheet-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1siDtnUT8SWslPkjfjKad_M7GjTDMl0GrNAukiI40uNU/edit#gid=310333988"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1808,
        688
      ],
      "id": "c4b37299-8316-4b8c-aa69-fdae61f20635",
      "name": "Read_CRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E5vo2bo5jTA2G5mm",
          "name": "Galeri_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Google Calendar’da yeni bir hatırlatıcı/etkinlik oluşturur ve varsayılan olarak uygulama bildirimi + e-posta alarmı ekler. Çağrı farklı bir süre veya kanal isterse etkinlik sonrası Update Event ile düzeltilebilir.\n",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "otel_otomasyon"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1424,
        688
      ],
      "id": "90b3119b-056c-4d15-a42e-42061a14d4cc",
      "name": "Create_Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWrOOzVX7OrpSBJH",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Seçilen etkinliği Google Calendar’dan kalıcı olarak siler. Yanlış oluşturulmuş veya iptal edilmiş hatırlatıcıları temizlemek için idealdir.\n",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "otel_otomasyon"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1280,
        688
      ],
      "id": "3e6483d1-c7cf-4ae9-899e-6c5d28e71ed9",
      "name": "Delete_Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWrOOzVX7OrpSBJH",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Google Calendar’dan belirli tarih/saat aralığına veya anahtar kelimeye uyan etkinlikleri çeker. Hatırlatıcıları kontrol etmek, çakışmaları görmek ya da bir etkinliği güncellemeden önce kimliğini bulmak için kullanılır.\n",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "otel_otomasyon"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        688
      ],
      "id": "e8152fe2-04f6-43e0-ab41-31d6742a7534",
      "name": "Get_Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWrOOzVX7OrpSBJH",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 263,
        "width": 592,
        "color": 6
      },
      "id": "81a0233c-c2d7-4a1e-be78-031450a08dc6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 263,
        "width": 368,
        "color": 4
      },
      "id": "6dcb04cc-e501-4a70-a2e8-dff6fa69aef1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1584,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        656,
        688
      ],
      "id": "5642fb9c-cfb4-41ca-81b5-c5d5eaf2a0a7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Kp8hUO1k8sbNIMil",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2d5ab00-ca9c-431f-adcf-bd1ff7913cfa",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        272
      ],
      "id": "3db3d34e-354c-43b9-9b27-1a586aa6c7c6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 384,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        144
      ],
      "typeVersion": 1,
      "id": "25035431-e6f6-401a-8274-efe85b18623f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "YOUR_GOOGLE_CALENDAR_ID@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "otel_otomasyon"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        688
      ],
      "id": "0dc3a886-082c-4088-a547-deb078f635ee",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "JWrOOzVX7OrpSBJH",
          "name": "Emlak_Otomasyon_Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        144
      ],
      "typeVersion": 1,
      "id": "dad2eb93-4bcb-4ac1-b6f3-ac4c73f9d80c",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Speech to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Speech to Text": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Listen for incoming events": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Assistant": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit_CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read_CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create_Event": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete_Event": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get_Events": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "be2e5aca-8ef7-4b8e-8d45-132b8005c41c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e2f924363634f24cb2ab4db9b6e1a61e083de7c308f6e29b61451421ac65f51c"
  },
  "id": "y0AOmTUOIdYcBlcp",
  "tags": []
}